.search-form
    margin-top 0px
    margin-left 20px
    display flex
    height 30px
    input
    	border 1px solid #ccc
    	padding 5px 5px
    >button 
    	margin-left 15px
    	padding 10px 10px
    	line-height 10px
    	border 1px solid #000
    	text-transform capitalize
    .btn-save-src
    	border none
    	background-color transparent
    	color blue
    	text-decoration underline
    	
/*
    for responsive
*/
.search-form
    +below(650px)
        display none
.btn-src
	transition: all 0.35s ease;
	&:enabled
		background-color:red;
	
.pop-save
	display none
	flex-direction column
	position absolute
	left 0px
	max-width 20vw
	top 50px
	right 0px
	margin 0px auto
	height 20vh
	background-color grey
	h3
		text-align center
		letter-spacing normal
		margin 15px auto
	input
		display block
		max-width 70%
		border 1px solid #ccc
		padding 5px 5px
		margin 0 auto
	.pop-save-btn
		border 1px solid #ccc
		margin 15px auto
		display block
		padding 10px 15px
/*AWESOMEPLETE STYLES*/
.awesomplete
	> ul
		position relative
		z-index 100
		background-color #fff
		padding 5px 5px
		li
			margin-top 5px
			cursor pointer
/*AWESOMEPLETE STYLES*/
